*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display{
    width: calc(90px*4);
    height: 120px;
    /* border: 2px solid white; */
    margin-bottom: 20px;
    padding: 0 1.5rem;
    background-color: #333;
    position: relative;
}
#operation{
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 17px;
    color: #a4a4a4;
}
.display input{
    all: unset;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 35px;
}
.main-container div{
    display: flex;
}
input[type="button"]{
    width: 90px;
    height: 70px;
    border: 1px solid #222;
    background-color:#333 ;
    color: aliceblue;
    cursor: pointer;
    font-size: 1.5rem;
}
input[type="button"]:hover{
    background-color:white ;
    color: black;
}
#equal{
    width: 180px;
    background-color: aqua;
    color: black;
}
#equal:hover{
    background-color: burlywood;
}
.special{
    background-color: #222 !important;
}
.special:hover{
    background-color: orangered !important;
}